<div id="page-wrapper" class="exterior">

  <!-- Header -->
  <div id="header">

    <!-- Logo -->
    {{ page.header }}

    <!-- Nav -->
    {{ page.primary_menu }}
  </div>

  {{ page.featured }}

  <!-- Main -->
  <section class="wrapper style1">
    <div class="container">
      <div class="row gtr-200">

        {% if page.sidebar_first %}
          <div class="col-8 col-12-narrower">
        {% else %}
          <div class="col-12 col-12-narrower">
        {% endif %}

          <div id="content">
            <!-- Content -->
            <article>
              {{ page.help }}
              {{ page.content }}
            </article>
          </div>
        </div>

        <!-- Sidebar -->
        {% if page.sidebar_first %}
          <div class="col-4 col-12-narrower">
            <div id="sidebar">
              <section>
                {{ page.sidebar_first }}
              </section>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <section class="col-3 col-6-narrower col-12-mobilep">
          {{ page.footer1 }}
        </section>
        <section class="col-3 col-6-narrower col-12-mobilep">
          {{ page.footer2 }}
        </section>
        <section class="col-6 col-12-narrower">
          {{ page.footer3 }}
        </section>
      </div>
    </div>

    <!-- Icons -->
    <ul class="icons">
      <li><a href="https://www.youtube.com/channel/UCGBn7DFDLEpN_ZfbwilFp9A/featured" class="icon brands fa-youtube" aria-label="YouTube channel of Veldense Volkscultuur"><span class="label">YouTube channel of Veldense Volkscultuur</span></a></li>
      <li><a href="https://www.facebook.com/volkscultuur/" class="icon brands fa-facebook-f" aria-label="Facebook page of Veldense Volkscultuur"><span class="label">Facebook page of Veldense Volkscultuur</span></a></li>
    </ul>

    <!-- Copyright -->
    <div class="copyright">
      <ul class="menu">
        <li>&copy; Stichting Veldense Volkscultuur</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>

  </div>

    <!-- Copyright -->

  </div>
