{% block content %}
<div class="site-branding">
  {% if site_logo %}
    <div class="site-logo">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  {% endif %}
  {% if site_name or site_slogan %}
    <div class="site-title-and-description">
  {% endif %}
  {% if site_name %}
    <h1 class="site-title">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </h1>
  {% endif %}
  {% if site_slogan %}
    <p class="site-description">{{ site_slogan }}</p>
  {% endif %}
  {% if site_name or site_slogan %}
    </div>
  {% endif %}
</div><!-- .site-branding -->
{% endblock %}